:root {
  --primary-font: "Montserrat", "Nunito", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --primary-color: rgb(25, 25, 25);
  --secondary-color: rgb(240, 240, 240);
  --p-color-opaque: rgba(11, 11, 11, 0.7);
  --s-color-opaque: rgba(255, 255, 255, 0.7);
  --light-shadow: #efefef;
  --dark-shadow: #c1c1c1;
  --nav-height: 3rem;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.m-txt {
  font-size: 1.5rem;
  line-height: 2rem;
}

.m2-txt {
  font-size: 1.2rem;
  line-height: 2rem;
}

.l-txt {
  font-size: 3rem;
  line-height: 2rem;
}

.s-txt {
  font-size: .8rem;
}

.primary-ctxt {
  color: var(--primary-color);
}

.secondary-ctxt {
  color: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

body {
  background: var(--secondary-color);
  color: var(--primary-color);
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 5rem;
  height: 100vh;
  gap: 1rem;

  >* {
    flex-basis: 5rem;
    width: 10rem;
  }

  & a {
    color: var(--primary-color);
    background: radial-gradient(rgba(255, 255, 255, 0.3) 0, transparent 40%);

    &:link {
      color: var(--primary-color);
    }
  }
}

.neomorph-emboss,
#skills>figure {
  background: var(--light-shadow);
  box-shadow: -4px -4px 7px var(--dark-shadow),
    4px 4px 7px white;
}

.neomorph-emboss-2 {
  background: var(--light-shadow);
  box-shadow: -1px -1px 4px var(--dark-shadow),
    2px 2px 4px white;
}

.neomorph-emboss-circle,
.neomorph-circle-set>*:not(:last-child) {
  background: var(--light-shadow);
  border-radius: 50%;
  box-shadow: -4px -4px 7px var(--dark-shadow),
    4px 4px 7px white;
}

.neomorph-emboss-pushed,
.neomorph-circle-set>*:not(:last-child):hover {
  background: linear-gradient(315deg, rgb(220 220 220), white);
  box-shadow: -4px -4px 7px var(--dark-shadow),
    4px 4px 7px white;
}

.neomorph-emboss-pushed-2,
#submit_message:hover {
  background: var(--light-shadow);
  box-shadow: -1px -1px 4px var(--dark-shadow),
    1px 1px 4px white, inset -2px -2px 2px #e5e5e5, inset 1px 1px 4px white;
}

.neomorph-emboss-transparent,
a.nav-item:hover {
  padding-top: .05rem;
  color: var(--primary-color);
  background: radial-gradient(rgba(255, 255, 255, 0.5) 0, transparent 40%);
  box-shadow: -2px -2px 6px var(--dark-shadow),
    4px 4px 20px rgba(255, 255, 255, 0.5);
}

.neomorph-deboss-transparent,
a.nav-item:active {
  background: transparent;
  box-shadow: inset -2px -2px 4px var(--dark-shadow),
    inset 2px 2px 10px rgba(255, 255, 255, 0.5);
}

.neomorph-deboss,
.neomorph-circle-set>*:not(:last-child):active {
  background: var(--light-shadow);
  box-shadow: inset -3px -3px 6px var(--dark-shadow),
    inset 6px 6px 6px white;
  padding-top: .2em;
}

.neomorph-deboss-3,
#contact-form input:not(input[type="submit"]),
#submit_message:active {
  background: var(--light-shadow);
  box-shadow: inset -1px -1px 2px var(--dark-shadow),
    inset 1px 1px 2px white;
}

.neomorph-deboss-2 {
  background: var(--light-shadow);
  box-shadow: inset -1px -1px 4px var(--dark-shadow),
    inset 1px 1px 4px white;
}

.neomorph-text-emboss {
  color: var(--secondary-color) !important;
  text-shadow: .02em .02em .03em white, -.02em -.02em .03em var(--dark-shadow);
}

.neomorph-text-emboss-2 {
  color: var(--light-shadow) !important;
  text-shadow: .05em .05em .05em white, -.03em -.03em .05em var(--dark-shadow);
}

.rect-round,
#skills>figure,
#skills p {
  border-radius: 8px;
}

.rect-round-2,
#contact-form input {
  border-radius: 4px;
}

.intro {
  padding: 16rem 0;

  & h1 {
    font-size: 8em;
    letter-spacing: .05em;
    text-align: center;
  }
}

main,
section {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: calc(2rem + var(--nav-height)) 3rem;
}

main {
  display: flex;
}

.main-profile {
  text-align: center;
}

.profile-pic {
  display: block;
  padding-top: 2rem;
  margin: 2rem auto 1rem;
  background-color: var(--primary-color);
  max-width: 80%;
}

hr {
  display: block;
  clear: both;
  border: 2px solid transparent;
  box-shadow: 0px 4px 6px var(--dark-shadow);
}

.biography {
  padding: 1em 2rem;
  line-height: 2em;
  text-align: justify;
}

#skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  overflow-x: scroll;

  >figure {
    text-align: center;
    padding: 2rem;
  }

  & figcaption {
    height: 5rem;
    font-size: 3rem;
  }

  & .skills-info-txt {
    font-size: 2rem;
    line-height: 3rem;
    text-wrap: wrap;
  }

  & img {
    height: 60px;
    margin: 1rem 0;
  }
}

#contact {
  display: flex;
}

.contact-grid {
  flex-basis: 20rem;
  flex-grow: 1;
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(8, 3rem);
  grid-template-rows: repeat(3, calc(1rem + (3rem * 2)));
  gap: 1rem;

  & img {
    height: 3rem;
  }

  >* {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  > :nth-child(7n + 1) {
    grid-column: 2 / 4;
  }
}

#phone-contact {
  text-decoration: none;
  text-align: center;

  & figcaption {
    display: none;
    margin-top: .6em;
  }
}

#phone-contact:hover {
  padding-top: .1rem;
  border-radius: 8px;

  & figcaption {
    display: block;
  }
}

#phone-contact:active {
  padding-top: .2rem;
  border-radius: 8px;
}

.caption-contact {
  grid-column: span 4;
  margin: 1rem;
}

#contact-form {
  flex-basis: 15rem;
  flex-grow: 1;
  background: var(--light-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  & h1 {
    text-align: center;
  }

  & input {
    width: 80%;
    border: none;
  }

  & input[type="submit"] {
    margin-top: 1rem;
    text-align: center;
    width: 50%;
    height: 10%;
  }

  & textarea {
    flex-grow: 1;
    border: none;
    padding: .5em;
  }

  & fieldset {
    align-self: start;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;

    &:nth-last-child(2) {
      flex-wrap: wrap;
    }

    &.form-visitor-message-body>label {
      margin-bottom: 0.5rem;
    }
  }
}

.pie {
  border: 5px solid var(--light-shadow);
  border-radius: 50%;
  background: conic-gradient(#B2DFDB calc(36deg * 1),
      #E6E6FA 0 calc(36deg * 2),
      #FFDAB9 0 calc(36deg * 3),
      #CCCCFF 0 calc(36deg * 4),
      #F7CAC9 0 calc(36deg * 5),
      #87CEEB 0 calc(36deg * 6),
      #FFFACD 0 calc(36deg * 7),
      #C8A2C8 0 calc(36deg * 8),
      #F08080 0 calc(36deg * 9),
      #00FFFF 0);


}

.pie-legend {
  padding-top: 1rem;
  padding-left: 2rem;

  & div[id^="pie-"]:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: bottom;
    margin-right: 5px;
  }
}

#pie-1:before {
  background: #B2DFDB;
}

#pie-2:before {
  background: #E6E6FA;
}

#pie-3:before {
  background: #FFDAB9;
}

#pie-4:before {
  background: #CCCCFF;
}

#pie-5:before {
  background: #F7CAC9;
}

#pie-6:before {
  background: #87CEEB;
}

#pie-7:before {
  background: #FFFACD;
}

#pie-8:before {
  background: #C8A2C8;
}

#pie-9:before {
  background: #F08080;
}

#pie-10:before {
  background: #00FFFF;
}

footer {

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;

  & .footer-description {
    flex-shrink: 1;
    flex-basis: 40%;
    line-height: 1.2;
  }
}

#live_page_link:hover {
  text-decoration: underline;
  flex-shrink: 1;
}

.icon {
  max-width: 30px;
}

.nav-button {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  margin: 10px;
  border: 1px solid var(--light-shadow);
  /* filter: drop-shadow(4px 4px 10px var(--dark-shadow)); */
  filter: opacity(25%);
}

.nav-button:hover {
  filter: opacity(60%);
}

.nav-button:active {
  filter: opacity(80%);
}

.nav-button+nav {
  display: none;
}

.nav-button:focus+nav {
  display: flex !important;
}

.nav-item {
  padding-left: 5px;
}

.nav-item:hover {
  border-radius: 0 5px 5px 0;
}

#hr-1 {
  display: none;
}

.pie {
  width: 30rem;
  height: 30rem;
}

.pie-legend {
  font-size: 3rem;
}

.biography-extra {
  display: flex;
  padding: 2rem;
}

#intro h1 {
  font-size: 12rem;
  text-wrap: wrap;
}

/* Small phones */
@media only screen and (max-width: 599px) {
  html {
    font-size: 8px
  }

  nav {
    font-size: 3rem;
    padding-top: 10rem;
    gap: 2rem;
  }

  .nav-item {
    width: 15rem;
  }

  section:not(#intro),
  main {
    height: auto;
  }

  main {
    flex-direction: column;
    gap: 2rem;
  }

  .main-profile {
    order: 1;
  }

  .biography {
    order: 2;
    font-size: 2rem;
  }

  .biography-extra {
    order: 3;
    flex-direction: column;
    align-items: center;
  }

  .name {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }

  #skills {
    display: flex;
    width: auto;

    >* {
      flex-grow: 1;
      flex-shrink: 0;
      width: 30rem;
      height: 40rem;
    }
  }

  #contact {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .contact-grid {
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(3, calc(2rem + (4rem * 2)));
    gap: 2rem;
    padding: 0;

    & img {
      height: 5rem;
    }

    .caption-contact {
      font-size: 2rem;
    }
  }

  #contact-form {
    font-size: 2rem;

    & fieldset {
      flex-direction: column;
      margin: 1rem;
    }

    & h1 {
      font-size: 3rem;
      line-height: 3rem;
      margin: 2rem 0;
    }

    & input {
      height: 4rem;
    }

    & input,
    textarea {
      width: 96%;
      font-size: 2rem;
      padding: 1rem;
    }
  }

  footer {
    height: 25rem;
    flex-direction: column;
    font-size: 5rem;

    & #copyright {
      margin: 3rem auto;
    }

    & .footer-description,
    #live_page_link {
      text-align: center;
      font-size: 2rem;
    }
  }
}

/* Portrait Tablets and Larger/Landscaped Phones */
@media only screen and (min-width: 600px) {

  html {
    font-size: 10px;
  }

  #intro {
    padding: 15vh 0;
  }

  nav>* {
    flex-basis: 4rem;
  }

  .profile-pic {
    width: 12rem;
  }

  .pie {
    width: 15rem;
    height: 15rem;
  }

  .pie-legend {
    font-size: 1rem;
  }

  main {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .main-profile {
    order: 1;
    flex-shrink: 1;
    flex-basis: 15rem;
  }

  .biography {
    flex-grow: 1;
    order: 3;
    font-size: 1.2em;
    text-wrap: wrap;
    flex-basis: 15rem;
  }

  .biography-extra {
    flex-grow: 1;
    order: 2;
    flex-basis: 20rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  #skills {
    width: auto;
    grid-template-columns: repeat(5, 30rem);

    & figcaption {
      font-size: 2rem;
      height: 3rem;
    }

    & .skills-info-txt {
      font-size: 1.6rem;
    }

    & img {
      height: 4rem;
    }

  }

  #contact {
    align-items: center;
  }

  .contact-grid {
    grid-template-columns: repeat(8, 2rem);
    grid-template-rows: repeat(3, calc(1rem + (2rem * 2)));
    gap: 1rem;
    padding: 2rem;

    & img {
      height: 2.5rem;
    }
  }

  #phone-contact figcaption {
    font-size: .7rem;
  }

  #contact-form {
    font-size: 1rem;

    & fieldset,
    textarea {
      width: 20rem;
    }
  }
}

/* Landscape Tablets and Phones */
@media only screen and (min-width: 768px) {
  html {
    font-size: 10px;
  }

  #intro {
    font-size: 1rem;
    padding: 20vh 0;
  }

  .main-profile {
    flex-basis: 15rem;
  }

  .profile-pic {
    width: 80%;
  }

  .name {
    font-size: 10px;
  }

  .biography-extra {
    flex-basis: 60vw;

  }

  .biography {
    flex-basis: 20rem;
    font-size: 1em;
  }

  nav {
    display: flex !important;
    width: 100vw;
    height: var(--nav-height);
    flex-direction: row;
    align-items: center;
    padding: 0;
    justify-content: center;
    gap: 5rem;

    & a {
      flex-basis: 10em;
      text-align: center;
      line-height: var(--nav-height);
      color: var(--primary-color);
      background: radial-gradient(rgba(255, 255, 255, 0.3) 0, transparent 40%);
    }
  }

  .nav-item:hover {
    border-radius: 0 0 5px 5px;
  }

  .nav-button {
    display: none;
  }

  #skills {
    grid-template-columns: repeat(5, 24rem);

    & figcaption {
      font-size: 1.6rem;
    }

    & img {
      height: 4rem;
    }

    & .skills-info-txt {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }

  .contact-grid {
    grid-template-columns: repeat(8, 3rem);
    grid-template-rows: repeat(3, calc(1rem + (3rem * 2)));
    gap: 1rem;
    padding: 2rem;

    & img {
      height: 3rem;
    }
  }

  #contact-form {
    font-size: 1.2rem;

    & h1 {
      font-size: 1.6rem;
    }

    & input:not(#submit_message) {
      height: 2rem;
      margin-bottom: .6rem;
    }

    & fieldset,
    textarea {
      width: 100%;
    }

    & #submit_message {
      height: 3rem;
    }
  }
}

/* Laptops and up */
@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }

  #skills {
    overflow: hidden;
  }

  .biography {
    font-size: 12px;
  }

  .biography-extra {
    flex-direction: column;
  }

  .profile-pic {
    width: 14rem;
  }

  .pie {
    width: 10rem;
    height: 10rem;
  }

  main {
    gap: 5rem;
    flex-wrap: nowrap;

    >* {
      flex-grow: 1;
      flex-basis: 15rem !important;
      order: unset !important;
      font-size: 1rem !important;
    }

    .name {
      font-size: 1.2rem;
    }
  }

  #skills {
    grid-template-columns: repeat(5, 1fr);

    & figure {
      padding: 1rem;
    }

    & figcaption {
      font-size: 1rem;
      height: 1rem;
    }

    & img {
      height: 3rem;
    }

    & .skills-info-txt {
      font-size: 80%;
      line-height: 1rem;
    }
  }

  #contact {
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }

  #intro {
    padding: 14vh;
  }

  .profile-pic {
    width: 16rem;
  }

  .pie-legend {
    font-size: 14px;
  }
}